"""
    Pterodactyl v1 API Reference

    Welcome to the Pterodactyl v1 API documentation. This documentation is unofficial and provided by Dashflo.  If you find any errors throughout this API reference, please [let us know](https://dashflo.net/tickets/new). A special thanks to everyone who has helped contribute!  **The legacy Pterodactyl v0.7 API documentation [can be found here](https://dashflo.net/docs/api/pterodactyl/v0.7/).** Please remember you should not be using v0.7, and should upgrade as soon as possible.  Pterodactyl Links: **[Website](https://pterodactyl.io/)** | **[GitHub](https://github.com/pterodactyl)** | **[Discord](https://discord.gg/pterodactyl)**  <!-- # API Wrappers/SDKs These wrappers can help save time while working with the API in your programming language of choice.  - [Ptero4J](https://github.com/stanjg/Ptero4J) (Java) - [Pterodactyl4J](https://github.com/mattmalec/Pterodactyl4J) (Java) - [crocgodyl](https://github.com/parkervcp/crocgodyl) (Golang) - [Nodeactyl](https://github.com/Burchard36/Nodeactyl) (Node.js) - [pterodactyl-sdk](https://github.com/hcgcloud/pterodactyl-sdk) (PHP) - [Sharpdactyl](https://github.com/KadePcGames/Sharpdactyl) (C#) - [Pydactyl](https://github.com/iamkubi/pydactyl) (Python) - [aiodactyl](https://github.com/WardPearce/aiodactyl) (Python)  If you are a developer of a Pterodactyl API wrapper that's not listed here, feel free to [contact us](https://dashflo.net/tickets/new) and we can add your API wrapper/SDK to the list. -->  # Authentication A user can generate an client API key from: https://pterodactyl.app/account/api An admin can generate an application API key from: https://pterodactyl.app/admin/api  API keys are entered as bearer tokens with all API requests. Here is an example CURL request:  ``` curl \"<endpoint>\"   -H \"Authorization: Bearer <API-Key>\"   -H \"Content-Type: application/json\" \\   -H \"Accept: Application/vnd.pterodactyl.v1+json\" \\ ```  # Ratelimits 240 requests can be made each minute. Headers are returned to show thelimit, and how many are used within minute. ``` x-ratelimit-limit: 240 x-ratelimit-remaining: 237 ```  # Docs Guide Some API routes require data input, or have additional information that can be provided. The route will include table(s) with the available parameters.   | Name                 | Description       | |----------------------|-------------------| | Include parameters   | List of parameters that can be used after adding `?include=<parameters>,<more-parameters>` to the route | | Available parameters | List of all the different parameters available such as `?example=something&example2=something` | | Filters | Filter the data to only include certain information `?filter[uuid]=something` | | Sort by | Sort the returned results `?sort=-id`. Add a `-` before the sort type to reverse the order | | Fields               | Data input fields |  You can combine multiple filters, it'll look for all matching results. For example, you could add &filter[uuid]=3387 and then it'll only return test@example.com.  ** ** [![Dashflo](https://cdn.dashflo.net/promotions/banners/service/minecraft/7u54t2qnuu8qTRv4.png?cache300620192021 =100%x100% \"Dashflo\")](https://dashflo.net/store/dedicated-servers)  # noqa: E501

    The version of the OpenAPI document: 1.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from pterodactyl_client.api_client import ApiClient, Endpoint as _Endpoint
from pterodactyl_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from pterodactyl_client.model.client_servers_server_id_schedules_post_request import ClientServersServerIdSchedulesPostRequest
from pterodactyl_client.model.client_servers_server_id_schedules_schedule_id_post_request import ClientServersServerIdSchedulesScheduleIdPostRequest
from pterodactyl_client.model.client_servers_server_id_schedules_schedule_id_tasks_post_request import ClientServersServerIdSchedulesScheduleIdTasksPostRequest
from pterodactyl_client.model.client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request import ClientServersServerIdSchedulesScheduleIdTasksTaskIdPostRequest
from pterodactyl_client.model.int import Int


class SchedulesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.client_serversserver_id_schedules_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules',
                'operation_id': 'client_serversserver_id_schedules_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedules_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules',
                'operation_id': 'client_serversserver_id_schedules_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'client_servers_server_id_schedules_post_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'client_servers_server_id_schedules_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'client_servers_server_id_schedules_post_request':
                        (ClientServersServerIdSchedulesPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'client_servers_server_id_schedules_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedulesschedule_id_delete_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules/{schedule_id}',
                'operation_id': 'client_serversserver_id_schedulesschedule_id_delete',
                'http_method': 'DELETE',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                    'schedule_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                    'schedule_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                    'schedule_id':
                        (Int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                    'schedule_id': 'schedule_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                    'schedule_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedulesschedule_id_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules/{schedule_id}',
                'operation_id': 'client_serversserver_id_schedulesschedule_id_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                    'schedule_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                    'schedule_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                    'schedule_id':
                        (Int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                    'schedule_id': 'schedule_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                    'schedule_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedulesschedule_id_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules/{schedule_id}',
                'operation_id': 'client_serversserver_id_schedulesschedule_id_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'schedule_id',
                    'client_servers_server_id_schedules_schedule_id_post_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'schedule_id',
                    'client_servers_server_id_schedules_schedule_id_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'schedule_id':
                        (Int,),
                    'client_servers_server_id_schedules_schedule_id_post_request':
                        (ClientServersServerIdSchedulesScheduleIdPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                    'schedule_id': 'schedule_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'schedule_id': 'path',
                    'client_servers_server_id_schedules_schedule_id_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedulesschedule_id_tasks_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules/{schedule_id}/tasks',
                'operation_id': 'client_serversserver_id_schedulesschedule_id_tasks_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'schedule_id',
                    'client_servers_server_id_schedules_schedule_id_tasks_post_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'schedule_id',
                    'client_servers_server_id_schedules_schedule_id_tasks_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'schedule_id':
                        (Int,),
                    'client_servers_server_id_schedules_schedule_id_tasks_post_request':
                        (ClientServersServerIdSchedulesScheduleIdTasksPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                    'schedule_id': 'schedule_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'schedule_id': 'path',
                    'client_servers_server_id_schedules_schedule_id_tasks_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedulesschedule_id_taskstask_id_delete_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules/{schedule_id}/tasks/{task_id}',
                'operation_id': 'client_serversserver_id_schedulesschedule_id_taskstask_id_delete',
                'http_method': 'DELETE',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                    'schedule_id',
                    'task_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                    'schedule_id',
                    'task_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                    'schedule_id':
                        (Int,),
                    'task_id':
                        (Int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                    'schedule_id': 'schedule_id',
                    'task_id': 'task_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                    'schedule_id': 'path',
                    'task_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_schedulesschedule_id_taskstask_id_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/schedules/{schedule_id}/tasks/{task_id}',
                'operation_id': 'client_serversserver_id_schedulesschedule_id_taskstask_id_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'schedule_id',
                    'task_id',
                    'client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'schedule_id',
                    'task_id',
                    'client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'schedule_id':
                        (Int,),
                    'task_id':
                        (Int,),
                    'client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request':
                        (ClientServersServerIdSchedulesScheduleIdTasksTaskIdPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                    'schedule_id': 'schedule_id',
                    'task_id': 'task_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'schedule_id': 'path',
                    'task_id': 'path',
                    'client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )

    def client_serversserver_id_schedules_get(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ / ] List schedules  # noqa: E501

        Lists all schedules added to the server  <!-- RESPONSE 200 --> {   \"object\": \"list\",   \"data\": [     {       \"object\": \"server_schedule\",       \"attributes\": {         \"id\": 1,         \"name\": \"Daily Reboot\",         \"cron\": {           \"day_of_week\": \"*\",           \"day_of_month\": \"*\",           \"hour\": \"0\",           \"minute\": \"0\"         },         \"is_active\": true,         \"is_processing\": false,         \"last_run_at\": null,         \"next_run_at\": \"2020-06-13T00:00:00+01:00\",         \"created_at\": \"2020-06-12T23:50:14+01:00\",         \"updated_at\": \"2020-06-12T23:53:07+01:00\",         \"relationships\": {           \"tasks\": {             \"object\": \"list\",             \"data\": [               {                 \"object\": \"schedule_task\",                 \"attributes\": {                   \"id\": 1,                   \"sequence_id\": 1,                   \"action\": \"command\",                   \"payload\": \"say Rebooting...\",                   \"time_offset\": 0,                   \"is_queued\": false,                   \"created_at\": \"2020-06-12T23:50:46+01:00\",                   \"updated_at\": \"2020-06-12T23:52:54+01:00\"                 }               },               {                 \"object\": \"schedule_task\",                 \"attributes\": {                   \"id\": 2,                   \"sequence_id\": 2,                   \"action\": \"power\",                   \"payload\": \"restart\",                   \"time_offset\": 5,                   \"is_queued\": false,                   \"created_at\": \"2020-06-12T23:53:07+01:00\",                   \"updated_at\": \"2020-06-12T23:53:07+01:00\"                 }               }             ]           }         }       }     }   ] } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedules_get(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.client_serversserver_id_schedules_get_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedules_post(
        self,
        accept,
        server_id,
        client_servers_server_id_schedules_post_request,
        **kwargs
    ):
        """[ / ] Create schedule  # noqa: E501

        Creates a new schedule  ## Fields | Name         | Required? | Type    | Description                              | Rules | |--------------|-----------|---------|------------------------------------------|-------| | name         | required  | string  | Friendly name for the schedule           | min:1 | | is_active    | optional  | boolean | Specifies whether the schedule is active |       | | minute       | required  | string  | Cron minute syntax                       |       | | hour         | required  | string  | Cron hour syntax                         |       | | day\\_of\\_week  | required  | string  | Cron day-of-month syntax                 |       | | day\\_of\\_month | required  | string  | Cron day-of-month syntax                 |       |  <!-- RESPONSE 200 --> {   \"object\": \"server_schedule\",   \"attributes\": {     \"id\": 4,     \"name\": \"Minute Hello\",     \"cron\": {       \"day_of_week\": \"*\",       \"day_of_month\": \"*\",       \"hour\": \"*\",       \"minute\": \"*\"     },     \"is_active\": true,     \"is_processing\": false,     \"last_run_at\": null,     \"next_run_at\": \"2020-06-13T15:17:00+01:00\",     \"created_at\": \"2020-06-13T15:16:45+01:00\",     \"updated_at\": \"2020-06-13T15:16:45+01:00\",     \"relationships\": {       \"tasks\": {         \"object\": \"list\",         \"data\": []       }     }   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedules_post(accept, server_id, client_servers_server_id_schedules_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            client_servers_server_id_schedules_post_request (ClientServersServerIdSchedulesPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['client_servers_server_id_schedules_post_request'] = \
            client_servers_server_id_schedules_post_request
        return self.client_serversserver_id_schedules_post_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedulesschedule_id_delete(
        self,
        accept,
        content_type,
        server_id,
        schedule_id,
        **kwargs
    ):
        """[ /{schedule} ] Delete schedule  # noqa: E501

        Deletes the specified schedule  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedulesschedule_id_delete(accept, content_type, server_id, schedule_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 
            schedule_id (Int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        kwargs['schedule_id'] = \
            schedule_id
        return self.client_serversserver_id_schedulesschedule_id_delete_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedulesschedule_id_get(
        self,
        accept,
        content_type,
        server_id,
        schedule_id,
        **kwargs
    ):
        """[ /{schedule} ] Schedule details  # noqa: E501

        Retrieves specific schedule  <!-- RESPONSE 200 --> {   \"object\": \"server_schedule\",   \"attributes\": {     \"id\": 1,     \"name\": \"Daily Reboot\",     \"cron\": {       \"day_of_week\": \"*\",       \"day_of_month\": \"*\",       \"hour\": \"0\",       \"minute\": \"0\"     },     \"is_active\": true,     \"is_processing\": false,     \"last_run_at\": null,     \"next_run_at\": \"2020-06-13T00:00:00+01:00\",     \"created_at\": \"2020-06-12T23:50:14+01:00\",     \"updated_at\": \"2020-06-12T23:53:07+01:00\",     \"relationships\": {       \"tasks\": {         \"object\": \"list\",         \"data\": [           {             \"object\": \"schedule_task\",             \"attributes\": {               \"id\": 1,               \"sequence_id\": 1,               \"action\": \"command\",               \"payload\": \"say Rebooting...\",               \"time_offset\": 0,               \"is_queued\": false,               \"created_at\": \"2020-06-12T23:50:46+01:00\",               \"updated_at\": \"2020-06-12T23:52:54+01:00\"             }           },           {             \"object\": \"schedule_task\",             \"attributes\": {               \"id\": 2,               \"sequence_id\": 2,               \"action\": \"power\",               \"payload\": \"restart\",               \"time_offset\": 5,               \"is_queued\": false,               \"created_at\": \"2020-06-12T23:53:07+01:00\",               \"updated_at\": \"2020-06-12T23:53:07+01:00\"             }           }         ]       }     }   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedulesschedule_id_get(accept, content_type, server_id, schedule_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 
            schedule_id (Int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        kwargs['schedule_id'] = \
            schedule_id
        return self.client_serversserver_id_schedulesschedule_id_get_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedulesschedule_id_post(
        self,
        accept,
        server_id,
        schedule_id,
        client_servers_server_id_schedules_schedule_id_post_request,
        **kwargs
    ):
        """[ /{schedule} ] Update schedule  # noqa: E501

        Updates the specified schedule  ## Fields | Name         | Required? | Type    | Description                              | Rules | |--------------|-----------|---------|------------------------------------------|-------| | name         | required  | string  | Friendly name for the schedule           | min:1 | | is_active    | optional  | boolean | Specifies whether the schedule is active |       | | minute       | required  | string  | Cron minute syntax                       |       | | hour         | required  | string  | Cron hour syntax                         |       | | day_of_week  | required  | string  | Cron day-of-month syntax                 |       | | day_of_month | required  | string  | Cron day-of-month syntax                 |       |  <!-- RESPONSE 200 --> {   \"object\": \"server_schedule\",   \"attributes\": {     \"id\": 2,     \"name\": \"Hourly Hello\",     \"cron\": {       \"day_of_week\": \"*\",       \"day_of_month\": \"*\",       \"hour\": \"*\",       \"minute\": \"0\"     },     \"is_active\": false,     \"is_processing\": false,     \"last_run_at\": null,     \"next_run_at\": \"2020-06-13T16:00:00+01:00\",     \"created_at\": \"2020-06-13T15:05:25+01:00\",     \"updated_at\": \"2020-06-13T15:14:07+01:00\",     \"relationships\": {       \"tasks\": {         \"object\": \"list\",         \"data\": []       }     }   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedulesschedule_id_post(accept, server_id, schedule_id, client_servers_server_id_schedules_schedule_id_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            schedule_id (Int): 
            client_servers_server_id_schedules_schedule_id_post_request (ClientServersServerIdSchedulesScheduleIdPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['schedule_id'] = \
            schedule_id
        kwargs['client_servers_server_id_schedules_schedule_id_post_request'] = \
            client_servers_server_id_schedules_schedule_id_post_request
        return self.client_serversserver_id_schedulesschedule_id_post_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedulesschedule_id_tasks_post(
        self,
        accept,
        server_id,
        schedule_id,
        client_servers_server_id_schedules_schedule_id_tasks_post_request,
        **kwargs
    ):
        """[ /{schedule}/tasks ] Create task  # noqa: E501

        Creates a new task on the specified schedule  ## Fields | Name        | Required? | Type   | Description           | Rules | |-------------|-----------|--------|-----------------------|-------| | action      | required  | string | Type of action to use |       | | payload     | required  | string | Payload to send       |       | | time_offset | required  | string | Offset in seconds     |       |  # Actions | Action  | Description                                           | |---------|-------------------------------------------------------| | command | Sends power action                                    | | power   | Changes power signal - Check power route for payloads | | backup  | Creates a backup                                      |  <!-- RESPONSE 200 --> {   \"object\": \"schedule_task\",   \"attributes\": {     \"id\": 6,     \"sequence_id\": 1,     \"action\": \"command\",     \"payload\": \"say Hello World\",     \"time_offset\": 0,     \"is_queued\": false,     \"created_at\": \"2020-10-29T01:09:03+00:00\",     \"updated_at\": \"2020-10-29T01:09:03+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedulesschedule_id_tasks_post(accept, server_id, schedule_id, client_servers_server_id_schedules_schedule_id_tasks_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            schedule_id (Int): 
            client_servers_server_id_schedules_schedule_id_tasks_post_request (ClientServersServerIdSchedulesScheduleIdTasksPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['schedule_id'] = \
            schedule_id
        kwargs['client_servers_server_id_schedules_schedule_id_tasks_post_request'] = \
            client_servers_server_id_schedules_schedule_id_tasks_post_request
        return self.client_serversserver_id_schedulesschedule_id_tasks_post_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedulesschedule_id_taskstask_id_delete(
        self,
        accept,
        content_type,
        server_id,
        schedule_id,
        task_id,
        **kwargs
    ):
        """[ /{schedule}/tasks/{task} ] Delete  task  # noqa: E501

        Deletes the specified task  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedulesschedule_id_taskstask_id_delete(accept, content_type, server_id, schedule_id, task_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 
            schedule_id (Int): 
            task_id (Int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        kwargs['schedule_id'] = \
            schedule_id
        kwargs['task_id'] = \
            task_id
        return self.client_serversserver_id_schedulesschedule_id_taskstask_id_delete_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_schedulesschedule_id_taskstask_id_post(
        self,
        accept,
        server_id,
        schedule_id,
        task_id,
        client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request,
        **kwargs
    ):
        """[ /{schedule}/tasks/{task} ] Update task  # noqa: E501

        Updates the specified task  ## Fields | Name        | Required? | Type   | Description           | Rules | |-------------|-----------|--------|-----------------------|-------| | action      | required  | string | Type of action to use |       | | payload     | required  | string | Payload to send       |       | | time_offset | required  | string | Offset in seconds     |       |  # Actions | Action  | Description                                           | |---------|-------------------------------------------------------| | command | Sends power action                                    | | power   | Changes power signal - Check power route for payloads | | backup  | Creates a backup                                      |  <!-- RESPONSE 200 --> {   \"object\": \"schedule_task\",   \"attributes\": {     \"id\": 6,     \"sequence_id\": 1,     \"action\": \"command\",     \"payload\": \"say Updated Statement!?\",     \"time_offset\": 0,     \"is_queued\": false,     \"created_at\": \"2020-10-29T01:09:03+00:00\",     \"updated_at\": \"2020-10-29T01:10:30+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_schedulesschedule_id_taskstask_id_post(accept, server_id, schedule_id, task_id, client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            schedule_id (Int): 
            task_id (Int): 
            client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request (ClientServersServerIdSchedulesScheduleIdTasksTaskIdPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['schedule_id'] = \
            schedule_id
        kwargs['task_id'] = \
            task_id
        kwargs['client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request'] = \
            client_servers_server_id_schedules_schedule_id_tasks_task_id_post_request
        return self.client_serversserver_id_schedulesschedule_id_taskstask_id_post_endpoint.call_with_http_info(**kwargs)

