"""
    Pterodactyl v1 API Reference

    Welcome to the Pterodactyl v1 API documentation. This documentation is unofficial and provided by Dashflo.  If you find any errors throughout this API reference, please [let us know](https://dashflo.net/tickets/new). A special thanks to everyone who has helped contribute!  **The legacy Pterodactyl v0.7 API documentation [can be found here](https://dashflo.net/docs/api/pterodactyl/v0.7/).** Please remember you should not be using v0.7, and should upgrade as soon as possible.  Pterodactyl Links: **[Website](https://pterodactyl.io/)** | **[GitHub](https://github.com/pterodactyl)** | **[Discord](https://discord.gg/pterodactyl)**  <!-- # API Wrappers/SDKs These wrappers can help save time while working with the API in your programming language of choice.  - [Ptero4J](https://github.com/stanjg/Ptero4J) (Java) - [Pterodactyl4J](https://github.com/mattmalec/Pterodactyl4J) (Java) - [crocgodyl](https://github.com/parkervcp/crocgodyl) (Golang) - [Nodeactyl](https://github.com/Burchard36/Nodeactyl) (Node.js) - [pterodactyl-sdk](https://github.com/hcgcloud/pterodactyl-sdk) (PHP) - [Sharpdactyl](https://github.com/KadePcGames/Sharpdactyl) (C#) - [Pydactyl](https://github.com/iamkubi/pydactyl) (Python) - [aiodactyl](https://github.com/WardPearce/aiodactyl) (Python)  If you are a developer of a Pterodactyl API wrapper that's not listed here, feel free to [contact us](https://dashflo.net/tickets/new) and we can add your API wrapper/SDK to the list. -->  # Authentication A user can generate an client API key from: https://pterodactyl.app/account/api An admin can generate an application API key from: https://pterodactyl.app/admin/api  API keys are entered as bearer tokens with all API requests. Here is an example CURL request:  ``` curl \"<endpoint>\"   -H \"Authorization: Bearer <API-Key>\"   -H \"Content-Type: application/json\" \\   -H \"Accept: Application/vnd.pterodactyl.v1+json\" \\ ```  # Ratelimits 240 requests can be made each minute. Headers are returned to show thelimit, and how many are used within minute. ``` x-ratelimit-limit: 240 x-ratelimit-remaining: 237 ```  # Docs Guide Some API routes require data input, or have additional information that can be provided. The route will include table(s) with the available parameters.   | Name                 | Description       | |----------------------|-------------------| | Include parameters   | List of parameters that can be used after adding `?include=<parameters>,<more-parameters>` to the route | | Available parameters | List of all the different parameters available such as `?example=something&example2=something` | | Filters | Filter the data to only include certain information `?filter[uuid]=something` | | Sort by | Sort the returned results `?sort=-id`. Add a `-` before the sort type to reverse the order | | Fields               | Data input fields |  You can combine multiple filters, it'll look for all matching results. For example, you could add &filter[uuid]=3387 and then it'll only return test@example.com.  ** ** [![Dashflo](https://cdn.dashflo.net/promotions/banners/service/minecraft/7u54t2qnuu8qTRv4.png?cache300620192021 =100%x100% \"Dashflo\")](https://dashflo.net/store/dedicated-servers)  # noqa: E501

    The version of the OpenAPI document: 1.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from pterodactyl_client.api_client import ApiClient, Endpoint as _Endpoint
from pterodactyl_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from pterodactyl_client.model.application_servers_server_id_build_patch_request import ApplicationServersServerIdBuildPatchRequest
from pterodactyl_client.model.application_servers_server_id_details_patch_request import ApplicationServersServerIdDetailsPatchRequest
from pterodactyl_client.model.application_servers_server_id_startup_patch_request import ApplicationServersServerIdStartupPatchRequest


class ServersApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.application_servers_externalserver_id_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/external/{server_id}',
                'operation_id': 'application_servers_externalserver_id_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_serversserver_id_build_patch_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/build',
                'operation_id': 'application_serversserver_id_build_patch',
                'http_method': 'PATCH',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'application_servers_server_id_build_patch_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'application_servers_server_id_build_patch_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'application_servers_server_id_build_patch_request':
                        (ApplicationServersServerIdBuildPatchRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'application_servers_server_id_build_patch_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.application_serversserver_id_delete_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}',
                'operation_id': 'application_serversserver_id_delete',
                'http_method': 'DELETE',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_serversserver_id_details_patch_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/details',
                'operation_id': 'application_serversserver_id_details_patch',
                'http_method': 'PATCH',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'application_servers_server_id_details_patch_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'application_servers_server_id_details_patch_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'application_servers_server_id_details_patch_request':
                        (ApplicationServersServerIdDetailsPatchRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'application_servers_server_id_details_patch_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.application_serversserver_id_force_delete_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/force',
                'operation_id': 'application_serversserver_id_force_delete',
                'http_method': 'DELETE',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_serversserver_id_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}',
                'operation_id': 'application_serversserver_id_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_serversserver_id_reinstall_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/reinstall',
                'operation_id': 'application_serversserver_id_reinstall_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_serversserver_id_startup_patch_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/startup',
                'operation_id': 'application_serversserver_id_startup_patch',
                'http_method': 'PATCH',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'application_servers_server_id_startup_patch_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'application_servers_server_id_startup_patch_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'application_servers_server_id_startup_patch_request':
                        (ApplicationServersServerIdStartupPatchRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'application_servers_server_id_startup_patch_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.application_serversserver_id_suspend_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/suspend',
                'operation_id': 'application_serversserver_id_suspend_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_serversserver_id_unsuspend_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/servers/{server_id}/unsuspend',
                'operation_id': 'application_serversserver_id_unsuspend_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )

    def application_servers_externalserver_id_get(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /external/{external_id} ] Server details  # noqa: E501

        Retrieves a server by its external ID  ## Available include parameters | Parameter   | Description                                | |-------------|--------------------------------------------| | allocations | List of allocations assigned to the server | | user        | Information about the server owner         | | subusers    | List of users added to the server          | | pack        | Information about the server pack          | | nest        | Information about the server's egg nest    | | egg         | Information about the server's egg         | | variables   | List of server variables                   | | location    | Information about server's node location   | | node        | Information about the server's node        | | databases   | List of databases on the server            |  <!-- RESPONSE --> {   \"object\": \"server\",   \"attributes\": {     \"id\": 5,     \"external_id\": \"RemoteId1\",     \"uuid\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",     \"identifier\": \"{server_id}\",     \"name\": \"Gaming\",     \"description\": \"Matt from Wii Sports\",     \"suspended\": false,     \"limits\": {       \"memory\": 512,       \"swap\": 0,       \"disk\": 200,       \"io\": 500,       \"cpu\": 0,       \"threads\": null     },     \"feature_limits\": {       \"databases\": 5,       \"allocations\": 5,       \"backups\": 2     },     \"user\": 1,     \"node\": 1,     \"allocation\": 1,     \"nest\": 1,     \"egg\": 5,     \"pack\": null,     \"container\": {       \"startup_command\": \"java -Xms128M -Xmx{{SERVER_MEMORY}}M -jar {{SERVER_JARFILE}}\",       \"image\": \"quay.io/pterodactyl/core:java\",       \"installed\": true,       \"environment\": {         \"SERVER_JARFILE\": \"server.jar\",         \"VANILLA_VERSION\": \"latest\",         \"STARTUP\": \"java -Xms128M -Xmx{{SERVER_MEMORY}}M -jar {{SERVER_JARFILE}}\",         \"P_SERVER_LOCATION\": \"GB\",         \"P_SERVER_UUID\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",         \"P_SERVER_ALLOCATION_LIMIT\": 5       }     },     \"updated_at\": \"2020-07-19T15:22:39+00:00\",     \"created_at\": \"2019-12-23T06:46:27+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_servers_externalserver_id_get(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_servers_externalserver_id_get_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_build_patch(
        self,
        accept,
        server_id,
        application_servers_server_id_build_patch_request,
        **kwargs
    ):
        """[ /{server}/build ] Update build  # noqa: E501

        Updates the server build information  ## Fields | Name                       | Required?        | Type   | Description                                                                                                                                                                                                                                         | Rules | |----------------------------|------------------|--------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------| | allocation                 | required         | number | ID of primary allocation                                                                                                                                                                                                                            |       | | memory                     | required_without | number | The maximum amount of memory allowed for this container. Setting this to 0 will allow unlimited memory in a container.                                                                                                                              |       | | swap                       | required_without | number | Setting this to 0 will disable swap space on this server. Setting to -1 will allow unlimited swap.                                                                                                                                                  |       | | io                         | required_without | number | IO performance of this server relative to other running containers                                                                                                                                                                                  |       | | cpu                        | required_without | number | Each physical core on the system is considered to be 100%. Setting this value to 0 will allow a server to use CPU time without restrictions.                                                                                                        |       | | disk                       | required_without | number | This server will not be allowed to boot if it is using more than this amount of space. If a server goes over this limit while running it will be safely stopped and locked until enough space is available. Set to 0 to allow unlimited disk usage. |       | | threads                    |                  | number | Enter the specific CPU cores that this process can run on, or leave blank to allow all cores. This can be a single number, or a comma seperated list. Example: 0, 0-1,3, or 0,1,3,4.                                                                |       | | feature_limits             | required         | object |                                                                                                                                                                                                                                                     |       | | feature_limits.databases   | present          | number | The total number of databases a user is allowed to create for this server.                                                                                                                                                                          |       | | feature_limits.backups     | present          | number | The total number of allocations a user is allowed to create for this server.                                                                                                                                                                        |       | | feature_limits.allocations |                  | number | The total number of allocations a user is allowed to create for this server.                                                                                                                                                                        |       |  <!-- RESPONSE --> {   \"object\": \"server\",   \"attributes\": {     \"id\": 5,     \"external_id\": \"RemoteID1\",     \"uuid\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",     \"identifier\": \"{server_id}\",     \"name\": \"Gaming\",     \"description\": \"Matt from Wii Sports\",     \"suspended\": false,     \"limits\": {       \"memory\": 512,       \"swap\": 0,       \"disk\": 200,       \"io\": 500,       \"cpu\": 0,       \"threads\": null     },     \"feature_limits\": {       \"databases\": 5,       \"allocations\": 5,       \"backups\": 2     },     \"user\": 1,     \"node\": 1,     \"allocation\": 1,     \"nest\": 1,     \"egg\": 5,     \"container\": {       \"startup_command\": \"java -Xms128M -Xmx2014M -jar server.jar\",       \"image\": \"quay.io/pterodactyl/core:java\",       \"installed\": true,       \"environment\": {         \"SERVER_JARFILE\": \"server.jar\",         \"VANILLA_VERSION\": \"latest\",         \"STARTUP\": \"java -Xms128M -Xmx2048M -jar server.jar\",         \"P_SERVER_LOCATION\": \"GB\",         \"P_SERVER_UUID\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",         \"P_SERVER_ALLOCATION_LIMIT\": 5       }     },     \"updated_at\": \"2020-11-04T21:11:26+00:00\",     \"created_at\": \"2019-12-23T06:46:27+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_build_patch(accept, server_id, application_servers_server_id_build_patch_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            application_servers_server_id_build_patch_request (ApplicationServersServerIdBuildPatchRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['application_servers_server_id_build_patch_request'] = \
            application_servers_server_id_build_patch_request
        return self.application_serversserver_id_build_patch_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_delete(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /{server} ] Delete server  # noqa: E501

        Deletes the specified server  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_delete(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_serversserver_id_delete_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_details_patch(
        self,
        accept,
        server_id,
        application_servers_server_id_details_patch_request,
        **kwargs
    ):
        """[ /{server}/details ] Update details  # noqa: E501

        Updates the server details  ## Fields | Name        | Required? | Type        | Description                                | Rules | |-------------|-----------|-------------|--------------------------------------------|-------| | name        | required  | string | Name for the server                        |       | | user        | required  | number      | ID of the user which the server belongs to |       | | external_id |           | string      | External ID of the server                  |       | | description |           | string | Description of the server                  |       |  <!-- RESPONSE --> {   \"object\": \"server\",   \"attributes\": {     \"id\": 5,     \"external_id\": \"RemoteID1\",     \"uuid\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",     \"identifier\": \"{server_id}\",     \"name\": \"Gaming\",     \"description\": \"Matt from Wii Sports\",     \"suspended\": false,     \"limits\": {       \"memory\": 512,       \"swap\": 0,       \"disk\": 200,       \"io\": 500,       \"cpu\": 0,       \"threads\": null     },     \"feature_limits\": {       \"databases\": 5,       \"allocations\": 5,       \"backups\": 2     },     \"user\": 1,     \"node\": 1,     \"allocation\": 1,     \"nest\": 1,     \"egg\": 5,     \"container\": {       \"startup_command\": \"java -Xms128M -Xmx2014M -jar server.jar\",       \"image\": \"quay.io/pterodactyl/core:java\",       \"installed\": true,       \"environment\": {         \"SERVER_JARFILE\": \"server.jar\",         \"VANILLA_VERSION\": \"latest\",         \"STARTUP\": \"java -Xms128M -Xmx2048M -jar server.jar\",         \"P_SERVER_LOCATION\": \"GB\",         \"P_SERVER_UUID\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",         \"P_SERVER_ALLOCATION_LIMIT\": 5       }     },     \"updated_at\": \"2020-11-04T21:11:26+00:00\",     \"created_at\": \"2019-12-23T06:46:27+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_details_patch(accept, server_id, application_servers_server_id_details_patch_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            application_servers_server_id_details_patch_request (ApplicationServersServerIdDetailsPatchRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['application_servers_server_id_details_patch_request'] = \
            application_servers_server_id_details_patch_request
        return self.application_serversserver_id_details_patch_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_force_delete(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /{server}/{force?} ] Force delete server  # noqa: E501

        Forcefully deletes the specified server  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_force_delete(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_serversserver_id_force_delete_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_get(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /{server} ] Server details  # noqa: E501

        Retrieves the specified server  ## Available include parameters | Parameter   | Description                                | |-------------|--------------------------------------------| | allocations | List of allocations assigned to the server | | user        | Information about the server owner         | | subusers    | List of users added to the server          | | pack        | Information about the server pack          | | nest        | Information about the server's egg nest    | | egg         | Information about the server's egg         | | variables   | List of server variables                   | | location    | Information about server's node location   | | node        | Information about the server's node        | | databases   | List of databases on the server            |  <!-- RESPONSE 200 --> {   \"object\": \"server\",   \"attributes\": {     \"id\": 5,     \"external_id\": \"RemoteId1\",     \"uuid\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",     \"identifier\": \"{server_id}\",     \"name\": \"Gaming\",     \"description\": \"Matt from Wii Sports\",     \"suspended\": false,     \"limits\": {       \"memory\": 512,       \"swap\": 0,       \"disk\": 200,       \"io\": 500,       \"cpu\": 0,       \"threads\": null     },     \"feature_limits\": {       \"databases\": 5,       \"allocations\": 5,       \"backups\": 2     },     \"user\": 1,     \"node\": 1,     \"allocation\": 1,     \"nest\": 1,     \"egg\": 5,     \"pack\": null,     \"container\": {       \"startup_command\": \"java -Xms128M -Xmx{{SERVER_MEMORY}}M -jar {{SERVER_JARFILE}}\",       \"image\": \"quay.io/pterodactyl/core:java\",       \"installed\": true,       \"environment\": {         \"SERVER_JARFILE\": \"server.jar\",         \"VANILLA_VERSION\": \"latest\",         \"STARTUP\": \"java -Xms128M -Xmx{{SERVER_MEMORY}}M -jar {{SERVER_JARFILE}}\",         \"P_SERVER_LOCATION\": \"GB\",         \"P_SERVER_UUID\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",         \"P_SERVER_ALLOCATION_LIMIT\": 5       }     },     \"updated_at\": \"2020-07-19T15:22:39+00:00\",     \"created_at\": \"2019-12-23T06:46:27+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_get(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_serversserver_id_get_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_reinstall_post(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /{server}/reinstall ] Reinstall server  # noqa: E501

        Reinstalls the specified server  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_reinstall_post(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_serversserver_id_reinstall_post_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_startup_patch(
        self,
        accept,
        server_id,
        application_servers_server_id_startup_patch_request,
        **kwargs
    ):
        """[ /{server}/startup ] Update startup  # noqa: E501

        Updates the server startup information  ## Fields | Name         | Required? | Type     | Description                                                                                                                                       | Rules | |--------------|-----------|----------|---------------------------------------------------------------------------------------------------------------------------------------------------|-------| | startup      | required  | string   | Edit your server's startup command here. |       | | environment  | present   | object   | Environment variables that the egg requires/supports                                                                                              |       | | egg          | required  | string   | ID of the egg to use                                                                                                                              |       | | image        | required  | required | The Docker image to use for this server                                                                                                           |       | | skip_scripts | present   | required | If enabled, if the Egg has an install script, it will NOT be ran during install.                                                                  |       |  <!-- RESPONSE --> {   \"object\": \"server\",   \"attributes\": {     \"id\": 5,     \"external_id\": \"RemoteID1\",     \"uuid\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",     \"identifier\": \"{server_id}\",     \"name\": \"Gaming\",     \"description\": \"Matt from Wii Sports\",     \"suspended\": false,     \"limits\": {       \"memory\": 512,       \"swap\": 0,       \"disk\": 200,       \"io\": 500,       \"cpu\": 0,       \"threads\": null     },     \"feature_limits\": {       \"databases\": 5,       \"allocations\": 5,       \"backups\": 2     },     \"user\": 1,     \"node\": 1,     \"allocation\": 1,     \"nest\": 1,     \"egg\": 5,     \"container\": {       \"startup_command\": \"java -Xms128M -Xmx2014M -jar server.jar\",       \"image\": \"quay.io/pterodactyl/core:java\",       \"installed\": true,       \"environment\": {         \"SERVER_JARFILE\": \"server.jar\",         \"VANILLA_VERSION\": \"latest\",         \"STARTUP\": \"java -Xms128M -Xmx2048M -jar server.jar\",         \"P_SERVER_LOCATION\": \"GB\",         \"P_SERVER_UUID\": \"{server_id}-259b-452e-8b4e-cecc464142ca\",         \"P_SERVER_ALLOCATION_LIMIT\": 5       }     },     \"updated_at\": \"2020-11-04T21:11:26+00:00\",     \"created_at\": \"2019-12-23T06:46:27+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_startup_patch(accept, server_id, application_servers_server_id_startup_patch_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            application_servers_server_id_startup_patch_request (ApplicationServersServerIdStartupPatchRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['application_servers_server_id_startup_patch_request'] = \
            application_servers_server_id_startup_patch_request
        return self.application_serversserver_id_startup_patch_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_suspend_post(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /{server}/suspend ] Suspend server  # noqa: E501

        Suspends the specified server  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_suspend_post(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_serversserver_id_suspend_post_endpoint.call_with_http_info(**kwargs)

    def application_serversserver_id_unsuspend_post(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ /{server}/unsuspend ] Unsuspend server  # noqa: E501

        Unuspends the specified   <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_serversserver_id_unsuspend_post(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.application_serversserver_id_unsuspend_post_endpoint.call_with_http_info(**kwargs)

