"""
    Pterodactyl v1 API Reference

    Welcome to the Pterodactyl v1 API documentation. This documentation is unofficial and provided by Dashflo.  If you find any errors throughout this API reference, please [let us know](https://dashflo.net/tickets/new). A special thanks to everyone who has helped contribute!  **The legacy Pterodactyl v0.7 API documentation [can be found here](https://dashflo.net/docs/api/pterodactyl/v0.7/).** Please remember you should not be using v0.7, and should upgrade as soon as possible.  Pterodactyl Links: **[Website](https://pterodactyl.io/)** | **[GitHub](https://github.com/pterodactyl)** | **[Discord](https://discord.gg/pterodactyl)**  <!-- # API Wrappers/SDKs These wrappers can help save time while working with the API in your programming language of choice.  - [Ptero4J](https://github.com/stanjg/Ptero4J) (Java) - [Pterodactyl4J](https://github.com/mattmalec/Pterodactyl4J) (Java) - [crocgodyl](https://github.com/parkervcp/crocgodyl) (Golang) - [Nodeactyl](https://github.com/Burchard36/Nodeactyl) (Node.js) - [pterodactyl-sdk](https://github.com/hcgcloud/pterodactyl-sdk) (PHP) - [Sharpdactyl](https://github.com/KadePcGames/Sharpdactyl) (C#) - [Pydactyl](https://github.com/iamkubi/pydactyl) (Python) - [aiodactyl](https://github.com/WardPearce/aiodactyl) (Python)  If you are a developer of a Pterodactyl API wrapper that's not listed here, feel free to [contact us](https://dashflo.net/tickets/new) and we can add your API wrapper/SDK to the list. -->  # Authentication A user can generate an client API key from: https://pterodactyl.app/account/api An admin can generate an application API key from: https://pterodactyl.app/admin/api  API keys are entered as bearer tokens with all API requests. Here is an example CURL request:  ``` curl \"<endpoint>\"   -H \"Authorization: Bearer <API-Key>\"   -H \"Content-Type: application/json\" \\   -H \"Accept: Application/vnd.pterodactyl.v1+json\" \\ ```  # Ratelimits 240 requests can be made each minute. Headers are returned to show thelimit, and how many are used within minute. ``` x-ratelimit-limit: 240 x-ratelimit-remaining: 237 ```  # Docs Guide Some API routes require data input, or have additional information that can be provided. The route will include table(s) with the available parameters.   | Name                 | Description       | |----------------------|-------------------| | Include parameters   | List of parameters that can be used after adding `?include=<parameters>,<more-parameters>` to the route | | Available parameters | List of all the different parameters available such as `?example=something&example2=something` | | Filters | Filter the data to only include certain information `?filter[uuid]=something` | | Sort by | Sort the returned results `?sort=-id`. Add a `-` before the sort type to reverse the order | | Fields               | Data input fields |  You can combine multiple filters, it'll look for all matching results. For example, you could add &filter[uuid]=3387 and then it'll only return test@example.com.  ** ** [![Dashflo](https://cdn.dashflo.net/promotions/banners/service/minecraft/7u54t2qnuu8qTRv4.png?cache300620192021 =100%x100% \"Dashflo\")](https://dashflo.net/store/dedicated-servers)  # noqa: E501

    The version of the OpenAPI document: 1.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from pterodactyl_client.api_client import ApiClient, Endpoint as _Endpoint
from pterodactyl_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from pterodactyl_client.model.application_users_post_request import ApplicationUsersPostRequest
from pterodactyl_client.model.application_users_user_id_patch_request import ApplicationUsersUserIdPatchRequest
from pterodactyl_client.model.client_servers_server_id_users_post_request import ClientServersServerIdUsersPostRequest
from pterodactyl_client.model.client_servers_server_id_users_user_id_post_request import ClientServersServerIdUsersUserIdPostRequest


class UsersApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.application_users_externaluser_id_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/users/external/{user_id}',
                'operation_id': 'application_users_externaluser_id_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'user_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'user_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'user_id':
                        (int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'user_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_users_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/users',
                'operation_id': 'application_users_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                ],
                'required': [
                    'accept',
                    'content_type',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_users_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/users',
                'operation_id': 'application_users_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'application_users_post_request',
                ],
                'required': [
                    'accept',
                    'application_users_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'application_users_post_request':
                        (ApplicationUsersPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                },
                'location_map': {
                    'accept': 'header',
                    'application_users_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.application_usersuser_id_delete_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/users/{user_id}',
                'operation_id': 'application_usersuser_id_delete',
                'http_method': 'DELETE',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'user_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'user_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'user_id':
                        (int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'user_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_usersuser_id_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/users/{user_id}',
                'operation_id': 'application_usersuser_id_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'user_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'user_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'user_id':
                        (int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'user_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.application_usersuser_id_patch_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/application/users/{user_id}',
                'operation_id': 'application_usersuser_id_patch',
                'http_method': 'PATCH',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'user_id',
                    'application_users_user_id_patch_request',
                ],
                'required': [
                    'accept',
                    'user_id',
                    'application_users_user_id_patch_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'user_id':
                        (int,),
                    'application_users_user_id_patch_request':
                        (ApplicationUsersUserIdPatchRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'user_id': 'path',
                    'application_users_user_id_patch_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.client_serversserver_id_users_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/users',
                'operation_id': 'client_serversserver_id_users_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_users_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/users',
                'operation_id': 'client_serversserver_id_users_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'client_servers_server_id_users_post_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'client_servers_server_id_users_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'client_servers_server_id_users_post_request':
                        (ClientServersServerIdUsersPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'client_servers_server_id_users_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )
        self.client_serversserver_id_usersuser_id_delete_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/users/{user_id}',
                'operation_id': 'client_serversserver_id_usersuser_id_delete',
                'http_method': 'DELETE',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                    'user_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                    'user_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                    'user_id':
                        (int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                    'user_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_usersuser_id_get_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/users/{user_id}',
                'operation_id': 'client_serversserver_id_usersuser_id_get',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'content_type',
                    'server_id',
                    'user_id',
                ],
                'required': [
                    'accept',
                    'content_type',
                    'server_id',
                    'user_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'content_type':
                        (str,),
                    'server_id':
                        (str,),
                    'user_id':
                        (int,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'content_type': 'Content-Type',
                    'server_id': 'server_id',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'content_type': 'header',
                    'server_id': 'path',
                    'user_id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.client_serversserver_id_usersuser_id_post_endpoint = _Endpoint(
            settings={
                'response_type': (bool, date, datetime, dict, float, int, list, str, none_type,),
                'auth': [
                    'bearer'
                ],
                'endpoint_path': '/client/servers/{server_id}/users/{user_id}',
                'operation_id': 'client_serversserver_id_usersuser_id_post',
                'http_method': 'POST',
                'servers': [
                    {
                        'url': "https://pterodactyl.file.properties/api",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'accept',
                    'server_id',
                    'user_id',
                    'client_servers_server_id_users_user_id_post_request',
                ],
                'required': [
                    'accept',
                    'server_id',
                    'user_id',
                    'client_servers_server_id_users_user_id_post_request',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'accept':
                        (str,),
                    'server_id':
                        (str,),
                    'user_id':
                        (int,),
                    'client_servers_server_id_users_user_id_post_request':
                        (ClientServersServerIdUsersUserIdPostRequest,),
                },
                'attribute_map': {
                    'accept': 'Accept',
                    'server_id': 'server_id',
                    'user_id': 'user_id',
                },
                'location_map': {
                    'accept': 'header',
                    'server_id': 'path',
                    'user_id': 'path',
                    'client_servers_server_id_users_user_id_post_request': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'text/plain'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client
        )

    def application_users_externaluser_id_get(
        self,
        accept,
        content_type,
        user_id,
        **kwargs
    ):
        """[ /external/{external_id} ] User details  # noqa: E501

        Retrieves the specified user by its external ID  ## Available include parameters | Parameter | Description                            | |-----------|----------------------------------------| | servers   | List of servers the user has access to |  <!-- RESPONSE 200 --> {   \"object\": \"user\",   \"attributes\": {     \"id\": 1,     \"external_id\": \"RemoteId1\",     \"uuid\": \"4de5a357-ed95-426b-aec1-8c328cfe9751\",     \"username\": \"admin\",     \"email\": \"example@example.com\",     \"first_name\": \"Admin\",     \"last_name\": \"User\",     \"language\": \"en\",     \"root_admin\": true,     \"2fa\": false,     \"created_at\": \"2019-12-22T04:43:29+00:00\",     \"updated_at\": \"2020-07-13T13:10:23+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_users_externaluser_id_get(accept, content_type, user_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            user_id (int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['user_id'] = \
            user_id
        return self.application_users_externaluser_id_get_endpoint.call_with_http_info(**kwargs)

    def application_users_get(
        self,
        accept,
        content_type,
        **kwargs
    ):
        """[ / ] List users  # noqa: E501

        Retrieves all users  ## Available Include parameters | Parameter | Description                            | |-----------|----------------------------------------| | servers   | List of servers the user has access to |  ## Filters | Parameter   | |-------------| | email       | | uuid        | | username    | | external_id |  ## Sort by | Parameter   | |-------------| | id          | | uuid        |  <!-- RESPONSE 200 --> {   \"object\": \"list\",   \"data\": [     {       \"object\": \"user\",       \"attributes\": {         \"id\": 1,         \"external_id\": \"RemoteId1\",         \"uuid\": \"4de5a357-ed95-426b-aec1-8c328cfe9751\",         \"username\": \"admin\",         \"email\": \"example@example.com\",         \"first_name\": \"Admin\",         \"last_name\": \"User\",         \"language\": \"en\",         \"root_admin\": true,         \"2fa\": false,         \"created_at\": \"2019-12-22T04:43:29+00:00\",         \"updated_at\": \"2020-07-13T13:10:23+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 2,         \"external_id\": null,         \"uuid\": \"73f233ca-99e0-47a9-bd46-efd3296d7ad9\",         \"username\": \"subuser1uxk\",         \"email\": \"subuser1@example.com\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-06-12T22:18:43+00:00\",         \"updated_at\": \"2020-06-12T22:18:43+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 3,         \"external_id\": null,         \"uuid\": \"60a7aec3-e17d-4aa9-abb3-56d944d204b4\",         \"username\": \"subuser2jvc\",         \"email\": \"subuser2@example.com\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-06-12T22:31:41+00:00\",         \"updated_at\": \"2020-06-12T22:31:41+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 4,         \"external_id\": null,         \"uuid\": \"a14e9c5f-9c7a-448f-9106-58e2b5286de6\",         \"username\": \"test\",         \"email\": \"example2@example.com\",         \"first_name\": \"Test\",         \"last_name\": \"Admin\",         \"language\": \"en\",         \"root_admin\": true,         \"2fa\": false,         \"created_at\": \"2020-06-14T00:34:50+00:00\",         \"updated_at\": \"2020-06-14T00:34:50+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 5,         \"external_id\": null,         \"uuid\": \"1287632d-9224-40c0-906e-f543423400bc\",         \"username\": \"subuser3bvo\",         \"email\": \"subuser3@example.com\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-07-13T13:27:46+00:00\",         \"updated_at\": \"2020-07-13T13:27:46+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 6,         \"external_id\": null,         \"uuid\": \"2fcb6f7e-342a-423a-93a4-6111a237c0c7\",         \"username\": \"geboc70057d6r\",         \"email\": \"geboc70057@djemail.net\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-07-13T13:36:44+00:00\",         \"updated_at\": \"2020-07-13T13:36:44+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 7,         \"external_id\": null,         \"uuid\": \"b20e4e11-550f-4c52-893d-94fc8bc46a06\",         \"username\": \"testidq\",         \"email\": \"test@example.com\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-07-19T12:48:38+00:00\",         \"updated_at\": \"2020-07-19T12:48:38+00:00\"       }     }   ],   \"meta\": {     \"pagination\": {       \"total\": 7,       \"count\": 7,       \"per_page\": 50,       \"current_page\": 1,       \"total_pages\": 1,       \"links\": {}     }   } } <!-- ENDRESPONSE -->  <!-- RESPONSE 200 --> // GET /api/application/users?filter%5Bemail%5D=dane%40daneeveritt.com {   \"object\": \"list\",   \"data\": [     {       \"object\": \"user\",       \"attributes\": {         \"id\": 27,         \"external_id\": null,         \"uuid\": \"18528bb9-8f60-45e2-adc6-f72611559fd7\",         \"username\": \"hodor7wm\",         \"email\": \"hodor@example.com\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-08-19T03:23:35+00:00\",         \"updated_at\": \"2020-08-19T03:23:35+00:00\"       }     },     {       \"object\": \"user\",       \"attributes\": {         \"id\": 26,         \"external_id\": null,         \"uuid\": \"b83673f6-3387-4a37-97cd-dd3a4f508343\",         \"username\": \"testfz0\",         \"email\": \"test@example.com\",         \"first_name\": \"Server\",         \"last_name\": \"Subuser\",         \"language\": \"en\",         \"root_admin\": false,         \"2fa\": false,         \"created_at\": \"2020-08-19T03:15:51+00:00\",         \"updated_at\": \"2020-08-19T03:15:51+00:00\"       }     }   ],   \"meta\": {     \"pagination\": {       \"total\": 2,       \"count\": 2,       \"per_page\": 100,       \"current_page\": 1,       \"total_pages\": 1,       \"links\": {}     }   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_users_get(accept, content_type, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        return self.application_users_get_endpoint.call_with_http_info(**kwargs)

    def application_users_post(
        self,
        accept,
        application_users_post_request,
        **kwargs
    ):
        """[ / ] Create user  # noqa: E501

        Creates a new user  <!-- RESPONSE 201 --> {   \"object\": \"user\",   \"attributes\": {     \"id\": 9,     \"external_id\": null,     \"uuid\": \"dac03ece-fd51-4e4b-bd4f-a79e3b2794f9\",     \"username\": \"exampleuser\",     \"email\": \"example10@example.com\",     \"first_name\": \"Example\",     \"last_name\": \"User\",     \"language\": \"en\",     \"root_admin\": false,     \"2fa\": false,     \"created_at\": \"2020-10-29T01:25:12+00:00\",     \"updated_at\": \"2020-10-29T01:25:12+00:00\"   },   \"meta\": {     \"resource\": \"https://pterodactyl.file.properties/api/application/users/9\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_users_post(accept, application_users_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            application_users_post_request (ApplicationUsersPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['application_users_post_request'] = \
            application_users_post_request
        return self.application_users_post_endpoint.call_with_http_info(**kwargs)

    def application_usersuser_id_delete(
        self,
        accept,
        content_type,
        user_id,
        **kwargs
    ):
        """[ /{user} ] Delete user  # noqa: E501

        Deletes the specified user  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_usersuser_id_delete(accept, content_type, user_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            user_id (int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['user_id'] = \
            user_id
        return self.application_usersuser_id_delete_endpoint.call_with_http_info(**kwargs)

    def application_usersuser_id_get(
        self,
        accept,
        content_type,
        user_id,
        **kwargs
    ):
        """[ /{user} ] User details  # noqa: E501

        Retrieves the specified user  ## Available include parameters | Parameter | Description                            | |-----------|----------------------------------------| | servers   | List of servers the user has access to |  <!-- RESPONSE 200 --> {   \"object\": \"user\",   \"attributes\": {     \"id\": 1,     \"external_id\": \"RemoteId1\",     \"uuid\": \"4de5a357-ed95-426b-aec1-8c328cfe9751\",     \"username\": \"admin\",     \"email\": \"example@example.com\",     \"first_name\": \"Admin\",     \"last_name\": \"User\",     \"language\": \"en\",     \"root_admin\": true,     \"2fa\": false,     \"created_at\": \"2019-12-22T04:43:29+00:00\",     \"updated_at\": \"2020-07-13T13:10:23+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_usersuser_id_get(accept, content_type, user_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            user_id (int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['user_id'] = \
            user_id
        return self.application_usersuser_id_get_endpoint.call_with_http_info(**kwargs)

    def application_usersuser_id_patch(
        self,
        accept,
        user_id,
        application_users_user_id_patch_request,
        **kwargs
    ):
        """[ / ] Update user  # noqa: E501

        Updates the user information  <!-- RESPONSE 200 --> {   \"object\": \"user\",   \"attributes\": {     \"id\": 9,     \"external_id\": null,     \"uuid\": \"dac03ece-fd51-4e4b-bd4f-a79e3b2794f9\",     \"username\": \"exampleuser\",     \"email\": \"example10@example.com\",     \"first_name\": \"Example\",     \"last_name\": \"User\",     \"language\": \"en\",     \"root_admin\": false,     \"2fa\": false,     \"created_at\": \"2020-10-29T01:25:12+00:00\",     \"updated_at\": \"2020-10-29T01:28:29+00:00\"   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.application_usersuser_id_patch(accept, user_id, application_users_user_id_patch_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            user_id (int): 
            application_users_user_id_patch_request (ApplicationUsersUserIdPatchRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['user_id'] = \
            user_id
        kwargs['application_users_user_id_patch_request'] = \
            application_users_user_id_patch_request
        return self.application_usersuser_id_patch_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_users_get(
        self,
        accept,
        content_type,
        server_id,
        **kwargs
    ):
        """[ / ] List Users1  # noqa: E501

        Lists all users added to the server, along with details about them and their permissions  <!-- RESPONSE 200 --> {   \"object\": \"list\",   \"data\": [     {       \"object\": \"server_subuser\",       \"attributes\": {         \"uuid\": \"73f233ca-99e0-47a9-bd46-efd3296d7ad9\",         \"username\": \"subuser1uxk\",         \"email\": \"subuser1@example.com\",         \"image\": \"https://gravatar.com/avatar/c0da5391b64449c1ecbfd4349184377c\",         \"2fa_enabled\": false,         \"created_at\": \"2020-06-12T23:18:43+01:00\",         \"permissions\": [           \"control.console\",           \"control.start\",           \"control.stop\",           \"control.restart\",           \"user.create\",           \"user.update\",           \"user.delete\",           \"user.read\",           \"file.create\",           \"file.read\",           \"file.update\",           \"file.delete\",           \"file.archive\",           \"file.sftp\",           \"backup.create\",           \"backup.read\",           \"backup.delete\",           \"backup.update\",           \"backup.download\",           \"allocation.update\",           \"startup.update\",           \"startup.read\",           \"database.create\",           \"database.read\",           \"database.update\",           \"database.delete\",           \"database.view_password\",           \"schedule.create\",           \"schedule.read\",           \"schedule.update\",           \"settings.rename\",           \"schedule.delete\",           \"settings.reinstall\",           \"websocket.connect\"         ]       }     },     {       \"object\": \"server_subuser\",       \"attributes\": {         \"uuid\": \"60a7aec3-e17d-4aa9-abb3-56d944d204b4\",         \"username\": \"subuser2jvc\",         \"email\": \"subuser2@example.com\",         \"image\": \"https://gravatar.com/avatar/3bb1c751a8b3488f4a4c70eddfe898d8\",         \"2fa_enabled\": false,         \"created_at\": \"2020-06-12T23:31:41+01:00\",         \"permissions\": [           \"control.console\",           \"control.start\",           \"websocket.connect\"         ]       }     },     {       \"object\": \"server_subuser\",       \"attributes\": {         \"uuid\": \"1287632d-9224-40c0-906e-f543423400bc\",         \"username\": \"subuser3bvo\",         \"email\": \"subuser3@example.com\",         \"image\": \"https://gravatar.com/avatar/8b28d32aaa64a1564450d16f71a81f65\",         \"2fa_enabled\": false,         \"created_at\": \"2020-07-13T14:27:46+01:00\",         \"permissions\": [           \"control.console\",           \"control.start\",           \"websocket.connect\"         ]       }     },     {       \"object\": \"server_subuser\",       \"attributes\": {         \"uuid\": \"2fcb6f7e-342a-423a-93a4-6111a237c0c7\",         \"username\": \"geboc70057d6r\",         \"email\": \"geboc70057@djemail.net\",         \"image\": \"https://gravatar.com/avatar/354d25d88e2c73b9f8d8e9bb8f1bf15e\",         \"2fa_enabled\": false,         \"created_at\": \"2020-07-13T14:36:44+01:00\",         \"permissions\": [           \"control.console\",           \"control.start\",           \"websocket.connect\"         ]       }     },     {       \"object\": \"server_subuser\",       \"attributes\": {         \"uuid\": \"b20e4e11-550f-4c52-893d-94fc8bc46a06\",         \"username\": \"testidq\",         \"email\": \"test@example.com\",         \"image\": \"https://gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0\",         \"2fa_enabled\": false,         \"created_at\": \"2020-07-19T13:48:38+01:00\",         \"permissions\": [           \"control.*\",           \"websocket.connect\"         ]       }     }   ] } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_users_get(accept, content_type, server_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        return self.client_serversserver_id_users_get_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_users_post(
        self,
        accept,
        server_id,
        client_servers_server_id_users_post_request,
        **kwargs
    ):
        """[ / ] Create User1  # noqa: E501

        Adds a user to the server  # Fields | Name        | Required? | Type   | Description                        | Rules | |-------------|-----------|--------|------------------------------------|-------| | email       | required  | string | Email address of the user          |       | | permissions | required  | object | Permissions that user is permitted |       |  <!-- RESPONSE 200 --> {   \"object\": \"server_subuser\",   \"attributes\": {     \"uuid\": \"60a7aec3-e17d-4aa9-abb3-56d944d204b4\",     \"username\": \"subuser2jvc\",     \"email\": \"subuser2@example.com\",     \"image\": \"https://gravatar.com/avatar/3bb1c751a8b3488f4a4c70eddfe898d8\",     \"2fa_enabled\": false,     \"created_at\": \"2020-06-12T23:31:41+01:00\",     \"permissions\": [       \"control.console\",       \"control.start\",       \"websocket.connect\"     ]   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_users_post(accept, server_id, client_servers_server_id_users_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            client_servers_server_id_users_post_request (ClientServersServerIdUsersPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['client_servers_server_id_users_post_request'] = \
            client_servers_server_id_users_post_request
        return self.client_serversserver_id_users_post_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_usersuser_id_delete(
        self,
        accept,
        content_type,
        server_id,
        user_id,
        **kwargs
    ):
        """[ /{subuser} ] Delete user  # noqa: E501

        Removes the specified user from the server  <!-- RESPONSE 204 --> // Successful <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_usersuser_id_delete(accept, content_type, server_id, user_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 
            user_id (int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        kwargs['user_id'] = \
            user_id
        return self.client_serversserver_id_usersuser_id_delete_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_usersuser_id_get(
        self,
        accept,
        content_type,
        server_id,
        user_id,
        **kwargs
    ):
        """[ /{subuser} ] User details  # noqa: E501

        Retrieves information about a specific user  <!-- RESPONSE 200 --> {   \"object\": \"server_subuser\",   \"attributes\": {     \"uuid\": \"60a7aec3-e17d-4aa9-abb3-56d944d204b4\",     \"username\": \"subuser2jvc\",     \"email\": \"subuser2@example.com\",     \"image\": \"https://gravatar.com/avatar/3bb1c751a8b3488f4a4c70eddfe898d8\",     \"2fa_enabled\": false,     \"created_at\": \"2020-06-12T23:31:41+01:00\",     \"permissions\": [       \"control.console\",       \"control.start\",       \"websocket.connect\"     ]   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_usersuser_id_get(accept, content_type, server_id, user_id, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            content_type (str): 
            server_id (str): 
            user_id (int): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['content_type'] = \
            content_type
        kwargs['server_id'] = \
            server_id
        kwargs['user_id'] = \
            user_id
        return self.client_serversserver_id_usersuser_id_get_endpoint.call_with_http_info(**kwargs)

    def client_serversserver_id_usersuser_id_post(
        self,
        accept,
        server_id,
        user_id,
        client_servers_server_id_users_user_id_post_request,
        **kwargs
    ):
        """[ /{subuser} ] Update user  # noqa: E501

        Updates the specified user  # Fields | Name        | Required? | Type   | Description                        | Rules | |-------------|-----------|--------|------------------------------------|-------| | permissions | required  | object | Permissions that user is permitted |       |  <!-- RESPONSE 200 --> {   \"object\": \"server_subuser\",   \"attributes\": {     \"uuid\": \"60a7aec3-e17d-4aa9-abb3-56d944d204b4\",     \"username\": \"subuser2jvc\",     \"email\": \"subuser2@example.com\",     \"image\": \"https://gravatar.com/avatar/3bb1c751a8b3488f4a4c70eddfe898d8\",     \"2fa_enabled\": false,     \"created_at\": \"2020-06-12T23:31:41+01:00\",     \"permissions\": [       \"control.console\",       \"control.start\",       \"websocket.connect\"     ]   } } <!-- ENDRESPONSE -->  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.client_serversserver_id_usersuser_id_post(accept, server_id, user_id, client_servers_server_id_users_user_id_post_request, async_req=True)
        >>> result = thread.get()

        Args:
            accept (str): 
            server_id (str): 
            user_id (int): 
            client_servers_server_id_users_user_id_post_request (ClientServersServerIdUsersUserIdPostRequest): 

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            bool, date, datetime, dict, float, int, list, str, none_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['accept'] = \
            accept
        kwargs['server_id'] = \
            server_id
        kwargs['user_id'] = \
            user_id
        kwargs['client_servers_server_id_users_user_id_post_request'] = \
            client_servers_server_id_users_user_id_post_request
        return self.client_serversserver_id_usersuser_id_post_endpoint.call_with_http_info(**kwargs)

